# Dependencies
node_modules/

# Logs
*.log
npm-debug.log*

# macOS / Windows
.DS_Store
Thumbs.dbGitHub

# Editor
.vscode/
.idea/
*.swp
*.swo

# Temporary files
TODO.md
NOTES.md
.notes/

# Optional
NOUPLOAD/
.psd
.ai